html{
	width:600px;
	height:800px;


}

body{
	margin-top:10px;
	width:600px;
	height:800px;
}

h3{
	font-family:"Open Sans", sans-serif;
}

h4{
	font-family:"Open Sans", sans-serif;
}

#tab_body{
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
}

#input_siteParameters{
	width:100%;
	height:250px;
}

.site-step{
	margin-bottom:10px;
}

.site-step button{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	border-left:0px;
}

.input-group{
	margin-bottom:5px;
}